<h1>Books</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Release Date</th>
      <th>Author</th>
    </tr>
  </thead>
  <tbody>
    <% @books.each do |book| %>
      <tr>
        <td><%= book.name %></td>
        <td><%= book.release_date %></td>
        <td><%= book.author.name %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Download Excel', books_path(format: :xlsx) %>
<%= link_to 'Download CSV', books_path(format: :csv) %>